body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: verdana;
}


/** HEADER --------------------------------------------------------------------------**/

.header {
    background-color: rgb(31, 41, 55);
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: 800;
    width: 360px;

}

.links_cont {
    display: flex;
    justify-content: flex-end;
    width: 560px;


}

.header_links {
    display: flex;
    flex-shrink: 0;
    color: #E5E7eb;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;

}

/** ------------------------------------------------------------------------------------- **/

/** CONT1 **/
.cont1 {
    display: flex;
    background-color: rgb(31, 41, 55);
    height: 475px;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.description_container {
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: flex-end;
    height: 260px;
    
}

.image_container {
    display: flex;
    width: 560px;
    height: 260px;
    background-color: rgb(109, 116, 125);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

p:first-child {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
    margin-bottom: 0;
    line-height: 50px;
}

.sign_up_button {
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    background-color: rgb(59,130,246);
    color:  #E5E7eb;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
}

/** -------------------------------------------------------------------------------------- **/



/** CONT2 **/
.cont2_text {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    margin-top: 30px;
}

.cont2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 500px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.illustration_container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.illustration_img {
    width: 150px;
    height: 150px;
    border-color:#3882F6;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    margin-top: 15px;
}

.illustration_text {
    width: 150px;
    padding-top: 15px;
    
}
/** -------------------------------------------------------------------------------------- **/

/** CONT3 **/
.cont3 {
    background-color: rgb(229, 231, 235);
    height: 500px;
}

/** -------------------------------------------------------------------------------------- **/

/** CONT4 **/
.cont4 {
    background-color: rgb(255, 255, 255);
    height: 500px;
}

/** -------------------------------------------------------------------------------------- **/

/** FOOTER **/
.footer {
    background-color: rgb(31, 41, 55);
    height: 72px;
}

/** -------------------------------------------------------------------------------------- **/